<div class="container mx-auto py-4">
<div class="border-b-2 border-gray-400 pb-2 mb-6 flex justify-between items-center">
<h1 class ="text-3xl font-bold mb-4">編集内容を入力してください</h1>

<%= render partial: "form" %>