<div class="container mx-auto py-4">
<div class="border-b-2 border-gray-400 pb-2 mb-6 flex justify-between items-center">
<h1 class="lg:text-7xl font-bold">Let's Workout!</h1>
</div>
<h2 class ="text-3xl font-bold mb-4">筋トレ内容を入力してください</h2>
<%= render partial: "form" %>